.header {
	position: relative;
	padding: var(--p-md);
	display: flex;
	gap: var(--g-md);
	justify-content: center;
}

.header::after {
	content: "";
	width: 60%;
	border-bottom: 1px solid var(--c-lightgray);
	position: absolute;
	bottom: 0;
}

.header svg {
	width: 25px;
	height: 25px;
	transition: transform 1s ease;
}

.header svg:hover {
	transform: scale(1.2);
}
