.header {
	display: grid;
	gap: 5px;
}

@media screen and (min-width: 1280px) {
	.header {
		grid-template-columns: 1fr 1fr;
	}
	.header__blogNav {
		grid-column: span 2;
	}
	.header__mainNav {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}
}
