.project {
	--border: 3px;
	display: grid;
	grid-template-rows: auto auto 1fr;
	gap: 15px;
	padding: 15px;
	background-color: var(--mediumBlack);
	border-radius: var(--border);
	width: 310px;
	height: 480px;
}
.project__picture {
	overflow: hidden;
	height: 270px;
}

.project__img {
	border-radius: var(--border);
	transition: transform 0.8s ease;
	caret-color: transparent;
}
.project__name {
	font-size: 2rem;
	text-transform: uppercase;
}
.project__text {
	font-size: 1.6rem;
	overflow: auto auto;
}
.project__img:hover {
	transform: scale(1.1);
}
