.who {
	text-align: center;
	padding: 15px;
	display: grid;
	gap: 10px;
	place-items: center;
}
.who strong {
	background-color: var(--softBlack);
	border-radius: 3px;
	padding: 1px;
	color: var(--pink);
}
.who__title {
	font-size: 2.5rem;
}
.who__quote,
.who__text,
.who__title {
	padding: 8px;
}

.who__cv {
	padding: 6px;
	background-color: var(--softViolet);
}

.who__cv {
	border-radius: 3px;
}
.who__cv:active {
	transform: scale(0.8);
}

@media screen and (min-width: 768px) {
	.who__text {
		max-width: 700px;
	}
}
@media screen and (min-width: 1280px) {
	.who__text {
		max-width: 950px;
	}
}
