.who {
	text-align: center;
	padding: 15px;
	display: grid;
	gap: 10px;
	place-items: center;
}
.who strong {
	background-color: var(--softBlack);
	border-radius: 3px;
	padding: 1px;
	color: var(--pink);
}
.who__title {
	font-size: 2.5rem;
}
.who__quote,
.who__text,
.who__title {
	padding: 8px;
}

.who__text {
	text-align: left;
	max-width: 310px;
}
.who__love,
.who__tipazo {
	display: inline-block;
	padding: 2px;
	transition: transform 0.3s ease;
	transform: rotate(-3deg);
}
.who__love:hover,
.who__tipazo:hover {
	transform: scale(1.2);
}
.who__container-cv-tipazo {
	display: flex;
	gap: 8px;
}
.who__tipazo {
	font-family: "Blinker";
	padding: 5px;
}
.who__cv {
	padding: 6px;
	background-color: var(--softViolet);
}
.who__tipazo,
.who__cv,
.who__love {
	border-radius: 3px;
}
.who__cv:active {
	transform: scale(0.8);
}
.who__img-videogame {
	width: 25px;
	height: 25px;
	display: inline-block;
	position: relative;
	top: 6px;
}
@media screen and (min-width: 768px) {
	.who__text {
		max-width: 700px;
	}
}
@media screen and (min-width: 1280px) {
	.who__text {
		max-width: 950px;
	}
}
