.banner {
	display: grid;
	gap: 5px;
	justify-items: center;
}
.banner__img {
	caret-color: transparent;
	width: 220px;
	transition: transform 0.8s ease;
}
.banner__img:hover {
	transform: scale(1.1);
}
.banner__name {
	display: flex;
	gap: 1px;
}
.banner__char {
	transition: transform 0.2s ease;
}
.banner__char:hover {
	transform: translateY(-8px);
	color: var(--softViolet);
}
.banner__love {
	display: inline-block;
	padding: 2px;
	transition: transform 0.3s ease;
	transform: rotate(-3deg);
	border-radius: 3px;
	background-color: var(--softBlack);
	border-radius: 3px;
	color: var(--pink);
}
.banner__love:hover {
	transform: scale(1.2);
}
