.link,
.active {
	padding: var(--p-sm);
	border-radius: var(--r-sm);
	display: flex;
	justify-items: center;
	align-items: center;
	gap: var(--g-sm);
	transition:
		color 0.5s ease,
		background-color 0.5s ease;
}

.active {
	color: var(--c-green);
}
