.app {
	min-width: 100%;
	min-height: 100vh;
	display: grid;
	gap: var(--g-sm);
}

.aside {
	min-height: 100vh;
}

@media (min-width: 768px) {
	.app {
		grid-template-areas:
			"aside header"
			"aside main"
			"aside footer";
		grid-template-columns: minmax(200px, auto) 1fr;
		grid-template-rows: auto 1fr auto;
	}
	.aside {
		grid-area: aside;
	}

	.header {
		grid-area: header;
	}

	.main {
		grid-area: main;
	}

	.footer {
		grid-area: footer;
	}
}
