---
import Download from "../../../hyperlinks/Download/Download.astro";
import Network from "../../../navs/Network/Network.astro";
---

<article>
  <div class="me">
    <h1>Edwin Ortiz</h1>
    <h2>Full Stack Developer</h2>
    <p>
      Soy un profesional dedicado al desarrollo de sitios web, enfocado en la
      calidad y el compromiso con cada proyecto. Creo en la importancia del
      trabajo bien hecho y me esfuerzo por ofrecer soluciones que superen las
      expectativas de mis clientes. Estoy en constante aprendizaje para mejorar
      mis habilidades y brindar un servicio que combine funcionalidad y
      estética.
    </p>
  </div>
  <img src="/edarcode.avif" alt="edarcode" width="200" height="200" />
  <div class="wrapper">
    <Download title="Currículum" download="cv_edarcode" href="/cv.pdf"
      >Currículum</Download
    >
    <Network />
  </div>
</article>

<style>
  article {
    display: grid;
    justify-items: start;
    align-items: center;
    gap: var(--xl);
    grid-template-columns: 1fr auto;

    .me {
      h1 {
        color: var(--primary);
      }
    }

    img {
      width: 200px;
      border-radius: 50%;
      grid-row: span 2;
    }

    .wrapper {
      display: flex;
      align-items: center;
      width: 100%;
      gap: var(--md);

      article {
        margin-left: auto;
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
</style>
