<article>
  <h2>Experiencia</h2>
  <div>
    <h3>Proyecto krekeet (Frelance)</h3>
    <p>
      Desarrollador freelance para la empresa Krekeet. Crear vistas para exponer
      información relevante destinada a la organización.
    </p>
  </div>

  <div>
    <h3>Tutor de enseñanza Full-Stack</h3>
    <p>
      Tutor de enseñanza en el bootcamp de desarrollo Full Stack Henry. Guía a
      los estudiantes durante las primeras etapas del curso. Asistencia en la
      solución de ejercicios y promoción de la colaboración grupal a través del
      uso de pair programming.
    </p>
  </div>
</article>

<style></style>
