.link,
.active {
	padding: var(--p-sm);
	border-radius: var(--r-sm);
	display: flex;
	justify-items: center;
	align-items: center;
	gap: var(--g-sm);
}

.icon {
	width: 20px;
	height: 20px;
}

.active {
	background-color: var(--c-black);
	color: var(--c-green);
}
