.box {
	padding: 8px;
	transition: background-color 0.3s ease;
	display: flex;
	justify-content: center;
	gap: 3px;
}
.box:hover {
	background-color: currentColor;
}

.box__img {
	width: 30px;
	height: 30px;
}
.box__img--invert {
	filter: invert(1);
}

.box__text {
	color: var(--white);
}

.box__img,
.box__text {
	display: flex;
	align-items: center;
}
