:root {
	--white: aliceblue;
	--black: hsl(0, 0%, 13%);
	--mediumBlack: hsl(0, 0%, 7%);
	--fullBlack: hsl(0, 0%, 0%);
	--blue: royalblue;
	--violet: hsl(260, 50%, 35%);
	--fullViolet: hsl(255, 60%, 40%);
	--red: red;
	--orange: hsl(25, 100%, 50%);
	--gray: gray;
	--darkViolet: hsl(240, 20%, 17%);
	--green: hsl(75, 85%, 50%);
	--softViolet: slateblue;
	--softBlack: hsl(0, 0%, 18%);
	--pink: hsl(299, 45%, 70%);
	--purple: purple;
	--darkPink: hsl(300, 50%, 40%);
	--mediumPink: hsl(291, 90%, 70%);
}
