:root {
	--white: aliceblue;
	--black: hsl(0, 0%, 13%);
	--mediumBlack: hsl(0, 0%, 7%);
	--fullBlack: hsl(0, 0%, 0%);
	--blue: royalblue;
	--violet: hsl(260, 50%, 35%);
	--fullViolet: hsl(255, 60%, 40%);
	--red: red;
	--orange: hsl(25, 100%, 50%);
	--gray: gray;
	--darkViolet: #222233;
	--green: hsl(75, 85%, 50%);
	--softViolet: slateblue;
}
