@font-face {
	font-family: "Menlo";
	src: url("/fonts/Menlo-Regular.ttf");
}

@font-face {
	font-family: "Poppins";
	src: url("/fonts/Poppins-Regular.ttf");
}

body {
	font-family: "Menlo", "Poppins";
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
}

h1 {
	font-size: 2.5em;
}

h3 {
	font-size: 1.6em;
}

p {
	color: var(--c-gray);
}
