@font-face {
	font-family: "Montserrat";
	src: local("Montserrat"),
		url("/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
	font-display: fallback;
}
@font-face {
	font-family: "Press_Start_2P";
	src: local("Press_Start_2P"),
		url("/fonts/Press_Start_2P/PressStart2P-Regular.ttf");
	font-display: fallback;
}
@font-face {
	font-family: "Blinker";
	src: local("Blinker"), url("/fonts/Blinker/Blinker-SemiBold.ttf");
	font-display: fallback;
}
body {
	background-color: var(--black);
	color: var(--white);
	font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	font-family: "Blinker", sans-serif;
}
h1 {
	font-size: 3.5rem;
}
em {
	font-family: "Press_Start_2P", cursive;
	font-style: normal;
}

@media screen and (min-width: 1280px) {
	body {
		font-size: 1.7rem;
	}
}

.scroll::-webkit-scrollbar {
	-webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
	width: 3px;
	background-color: var(--black);
}

.scroll::-webkit-scrollbar-thumb {
	background-color: var(--black);
	width: 100%;
	border-radius: 25px;
}

.scroll::-webkit-scrollbar-button:increment {
	display: none;
}
.scroll::-webkit-scrollbar-button {
	display: none;
}

.scroll::-webkit-scrollbar:horizontal {
	height: 10px;
}

.scroll::-webkit-scrollbar-track {
	border-radius: 10px;
}
.article,
.section {
	display: grid;
	justify-items: start;
	gap: 30px;
}
.section {
	gap: 20px;
}
.quote,
.quote2 {
	background-color: var(--fullViolet);
	padding: 8px;
	border-radius: 3px;
}
.quote2 {
	background-color: var(--softBlack);
	color: var(--pink);
}
.url {
	background-color: var(--softBlack);
	color: var(--pink);
	padding: 5px;
	border-radius: 3px;
	transition: transform 0.5s ease;
}
.url:hover {
	transform: scale(1.06);
}
.special_word {
	background-color: var(--softViolet);
	border-radius: 2px;
	padding: 1px 4px;
	font-weight: bold;
}
.lists {
	display: grid;
	gap: 20px;
}
.lists li p {
	margin-bottom: 10px;
}
