body {
	background-color: var(--black);
	color: var(--white);
	font-family: sans-serif;
}

@media screen and (min-width: 1280px) {
	body {
		font-size: 1.7rem;
	}
}

.scroll::-webkit-scrollbar {
	-webkit-appearance: none;
}

.scroll::-webkit-scrollbar:vertical {
	width: 3px;
	background-color: var(--black);
}

.scroll::-webkit-scrollbar-thumb {
	background-color: var(--black);
	width: 100%;
	border-radius: 25px;
}

.scroll::-webkit-scrollbar-button:increment {
	display: none;
}
.scroll::-webkit-scrollbar-button {
	display: none;
}

.scroll::-webkit-scrollbar:horizontal {
	height: 10px;
}

.scroll::-webkit-scrollbar-track {
	border-radius: 10px;
}
