.aside {
	background-color: var(--c-black);
	padding: var(--p-md);
	color: var(--c-white);
	display: grid;
	gap: var(--g-md);
	place-items: start;
	grid-template-rows: auto 1fr;
	border-radius: 0 10px 10px 0;
}

.arrow {
	transition: transform 1s ease;
}

.arrow_rotate {
	transform: rotate(180deg);
}

.nav {
	display: grid;
	gap: var(--g-md);
}
