.aside {
	background-color: var(--c-darkblack);
	padding: var(--p-md);
	color: var(--c-white);
	font-size: 1.4rem;
	display: grid;
	gap: var(--g-md);
	place-items: start;
	grid-template-rows: auto 1fr;
}

.arrow {
	width: 25px;
	height: 25px;
}

.arrow_rotate {
	transform: rotate(180deg);
}

.nav {
	display: grid;
	gap: var(--g-md);
}
