.aside {
	background-color: var(--c-darkblack);
	padding: var(--p-md);
	color: var(--c-white);
	font-size: 1.2rem;
	display: grid;
	gap: var(--g-md);
	place-items: start;
	grid-template-rows: auto 1fr;
	width: 50px;
	transition: width 1s ease;
}

.expand {
	width: 120px;
}

.arrow {
	width: 25px;
	height: 25px;
	transition: transform 1s ease;
}

.arrow_rotate {
	transform: rotate(180deg);
}

.nav {
	display: grid;
	gap: var(--g-md);
}
