.home {
	display: grid;
	gap: var(--lg);
	padding: var(--lg);
	max-width: var(--mw-pages);
	margin-left: auto;
	margin-right: auto;

	.titles {
		padding: 0 var(--lg);
	}
	.cv {
		justify-self: start;
	}
}
