.topic {
	display: grid;
	grid-template-columns: 1fr auto;
	gap: 8px;
	align-items: center;
	position: relative;
	padding: 5px;
	border-radius: 3px;
}
.topic:hover {
	background-color: var(--black);
}
.topic__arrow,
.topic__title {
	cursor: pointer;
}
.topic__arrow {
	transition: transform 0.2s ease;
}
