.topic {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr auto;
	gap: 5px;
	cursor: pointer;
	background-color: var(--black);
	padding: 5px;
	transition: transform 0.5s ease;
}
.topic:hover {
	transform: scale(1.05);
}
.topic__arrow {
	color: var(--blue);
	width: 18px;
	height: 18px;
	transition: transform 0.3s ease;
}
.topic__name {
	font-size: 1.6rem;
}
