---
import Banner from "../components/views/index/Banner/Banner.astro";
import Education from "../components/views/index/Education/Education.astro";
import Experience from "../components/views/index/Experience/Experience.astro";
import Projects from "../components/views/index/Projects/Projects.astro";
import Skills from "../components/views/index/Skills/Skills.astro";
import Layout from "../layouts/Layout/Layout.astro";
import { ROUTER } from "./router";
---

<Layout title={ROUTER.index.display}>
  <main>
    <Banner />
    <Experience />
    <Projects />
    <Skills />
    <Education />
  </main>
</Layout>

<style>
  main {
    padding: var(--lg);
    max-width: var(--mw-page);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    place-content: start;
    gap: var(--xl);
  }
</style>
