.skills {
	display: grid;
	gap: var(--sm);

	.logos {
		display: grid;
		gap: var(--sm);
		padding: 0;
		justify-items: start;

		grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));

		a {
			color: inherit;
			border-radius: var(--sm);
			padding: 0 var(--md);

			&:hover {
				background-color: var(--bg-surf);
			}

			@media (prefers-color-scheme: light) {
				&:hover {
					background-color: var(--l-bg-surf);
				}
			}

			li {
				list-style: none;
			}
		}
	}
}
