.article {
	display: grid;
	gap: 20px;
}
.article strong {
	background-color: var(--blue);
	padding: 2px;
	border-radius: 3px;
}
.article span {
	background-color: var(--softViolet);
	font-size: 1.8rem;
	border-radius: 3px;
	font-weight: bold;
}
.article__header,
.article__quote {
	background-color: var(--darkViolet);
}
.article__text,
.article__quote {
	padding: 10px;
}
.article__concept,
.article__requirements {
	display: grid;
	gap: 15px;
}
.article__title {
	display: flex;
	gap: 8px;
	font-size: 3rem;
}
.article__requirements {
}
.article__difficulty {
	font-size: 2.5rem;
}
.article__img {
	caret-color: transparent;
}
