.banner {
	display: grid;
	gap: var(--g-md);
}

.img {
	border-radius: var(--r-md);
	width: 120px;
	aspect-ratio: 8∶11;
	display: none;
}

.description {
	display: grid;
	gap: var(--g-sm);
}

.banner p {
	max-width: 340px;
}

@media (min-width: 768px) {
	.banner {
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: var(--g-lg);
	}

	.description {
		grid-row: 1 / 2;
	}

	.img {
		display: initial;
		grid-column: 2 / 3;
		justify-self: end;
	}
}
