.banner {
	display: grid;
	gap: var(--g-md);
}

.img {
	justify-self: center;
	border-radius: 50%;
	width: 250px;
	height: auto;
	aspect-ratio: 1/1;
}

.description {
	display: grid;
	gap: var(--g-sm);
}

.banner p {
	max-width: 340px;
}

@media (min-width: 768px) {
	.banner {
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: var(--g-lg);
	}

	.description {
		grid-row: 1 / 2;
	}

	.img {
		grid-column: 2 / 3;
	}
}
