.banner {
	display: grid;
	gap: var(--g-md);
}

.img {
	border-radius: 50%;
	justify-self: center;
}

.description {
	display: grid;
	gap: var(--g-sm);
}

.banner p {
	max-width: 340px;
}

@media (min-width: 768px) {
	.banner {
		grid-template-columns: auto 1fr;
		align-items: center;
		gap: var(--g-lg);
	}
}
