.paged {
	display: flex;
	align-items: center;

	.back {
		transform: rotate(180deg);
	}

	.back,
	.next {
		&:hover&:not(:disabled) {
			color: var(--green);
		}
	}

	.page {
		font-size: large;
		font-weight: bold;
		min-width: 30px;
		text-align: center;
	}
}
