.mainnav {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-left: 5px;
	padding-right: 5px;
}
.mainnav img {
	width: 22px;
}
@media screen and (min-width: 1280px) {
	.mainnav {
		justify-content: start;
	}
}
