@import "./styles/reset.css";
@import "./styles/colors.css";
@import "./styles/shadow.css";
@import "./styles/radius.css";
@import "./styles/fonts.css";
@import "./styles/padding.css";
@import "./styles/gap.css";
@import "./styles/scroll.css";

body {
	background-color: var(--c-white);
	color: var(--c-darkblack);
}

a {
	color: currentColor;
	text-decoration: none;
}

h1 {
	font-size: 2em;
}

h6 {
	font-size: 1em;
}

svg {
	width: 28px;
	height: 28px;
}

ul {
	padding-left: 25px;
	display: grid;
	gap: var(--g-md);
}
