@import "./styles/fonts.css";
@import "./styles/reset.css";
@import "./styles/colors.css";
@import "./styles/shadow.css";
@import "./styles/radius.css";
@import "./styles/padding.css";
@import "./styles/gap.css";
@import "./styles/scroll.css";

:root {
	--min-w-main: 340px;
	--max-w-main: 768px;
	scrollbar-gutter: stable;
}

body {
	background-color: var(--c-white);
	color: var(--c-darkblack);
}

a {
	color: currentColor;
	text-decoration: none;
}

svg {
	width: 28px;
	height: 28px;
}
