.project {
	position: relative;
	display: grid;
	gap: var(--md);
	justify-items: start;
	max-width: 600px;
	border-radius: var(--sm);

	.pcImg,
	.mobileImg {
		position: absolute;
		max-width: 100%;
		max-height: calc(100% - 35px);
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}

	.mobileImg {
		aspect-ratio: 75/152;
	}
	.pcImg {
		aspect-ratio: 40/23;
	}

	.wrapperMobilePc {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		gap: var(--md);

		.mobileLink,
		.pcLink {
			color: var(--blue);
			padding: var(--sm);
			min-width: 70px;
			text-align: center;
			border-radius: var(--md);

			&:hover {
				background-color: var(--bg-surf);
			}

			@media (prefers-color-scheme: light) {
				&:hover {
					background-color: var(--l-bg-surf);
				}
			}
		}
	}
}
